body{
    height: 1000px;
    display: flex;
    background-color: tomato;
    justify-content: space-between;
    align-items: center;
  }
  div{  
    
  }
  .first{
    display: flex;
    width: 30%;
    height: 40%;
    background-color: wheat;
    justify-content: space-around;
    border: 3px solid black;
    align-items: center;
    flex-direction: column;
  }

  .second{
    width: 20%;
    height: 20%;
    border:5px solid white;
    background-color: teal;
  }

  #dot{
    width:80%;
    height: 20%;
    border:5px dashed white;
    background-color: teal;
  }